body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header{
  background:#4a6e9d;
}
.search-text{
  padding-top:10px;
  color:white;
}
.search-bar{
  padding-left:1.5vw;;
  padding-bottom:5px;
}
.search-bar input{
  border-radius:20px;
  height:35px;
  background-color:white;
  color:#333;
  border: solid 0px;
}
.center-block{
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px;

}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #2580db;
}

.header .filter-button{
  height:35px;
  color:white;
  background-color:transparent;
  border:solid 1px white;
  width:100%;
}

.control-label{
  background:transparent;
  border:solid 0px;
  box-shadow: none;
  color:white;
}

.ui-slider .ui-slider-handle{
  width:1em;
  height:1em;
}
.ui-slider-horizontal{
  height:.6em;
}

html{
  box-sizing: border-box;
  height:100%;
}
body{
  min-height:100%;
  position:relative;
  padding-bottom:30px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color:#979797;
}
.logo-header{
  height: 70px; 
  background:#979797;
}
.logo-header>p{
  font-size:35px; 
  margin-left:20px; 
  color:white; 
  padding-top:15px; 
  padding-bottom:25px;
}
.row{
  margin-left:0px;
  margin-right:0px;
}

